<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pal P2P USDT</title>

    <style>
        body {
            font-family: Arial;
            background: #f5f5f5;
            padding: 20px;
        }

        .box {
            background: white;
            padding: 15px;
            margin: 15px 0;
            border-radius: 10px;
        }

        button {
            padding: 10px;
            background: green;
            color: white;
            border: none;
            border-radius: 5px;
        }

        a {
            text-decoration: none;
        }
    </style>

</head>

<body>


<h1>🇵🇸 Pal P2P USDT</h1>


{% if session.user %}

<p>
مرحبا {{session.user}}
</p>

<a href="/create_ad">
<button>
إنشاء إعلان
</button>
</a>

<a href="/logout">
تسجيل خروج
</a>


{% else %}


<a href="/login">
<button>
تسجيل دخول
</button>
</a>


<a href="/register">
<button>
حساب جديد
</button>
</a>


{% endif %}



<hr>


<h2>
إعلانات USDT
</h2>



{% for ad in ads %}


<div class="box">

<h3>
{{ad.type}}
</h3>


<p>
👤 البائع:
{{ad.user}}
</p>


<p>
💰 الكمية:
{{ad.amount}} USDT
</p>


<p>
💵 السعر:
{{ad.price}} شيكل
</p>


<p>
💳 الدفع:
{{ad.payment}}
</p>



<a href="/buy/{{ad.id}}">

<button>
شراء الآن
</button>

</a>



</div>


{% else %}

<p>
لا يوجد إعلانات حاليا
</p>


{% endfor %}



</body>

</html>
